################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TP2/x64/Debug/TP2.tlog
/TP2/x64/Debug
/.vs/TP2/v17
/.vs/TP2/FileContentIndex
/.vs/TP2/35176891
/x64/Debug
